export NO_AT_BRIDGE=1
export PATH="$PATH:/home/deepaka/verible/bin"
export PATH="$PATH:/home/deepaka/.cargo/bin/"
export PATH="$PATH:/home/deepaka/.cargo/bin/"

alias vi='vim'
alias c='clear'
alias cls='clear; ls'
alias ll='ls -l'
alias gvim='gvim -p'

alias gitclone='gh repo clone deepaka-enf/internal && cd internal && gitpull'
alias gitclone='git clone org-64667743@github.com:deepaka-enf/internal.git && cd internal && git remote add upstream org-64667743@github.com:enfabrica/internal.git && gitpull'
alias gitpull='git checkout master && git fetch upstream && git merge upstream/master && git push'
alias gitcloneb0='git clone org-64667743@github.com:deepaka-enf/internal.git && cd internal && git remote add upstream org-64667743@github.com:enfabrica/internal.git && gitpull && gitpullb0'
alias gitpullb0='git checkout master_b0 && git fetch upstream && git merge upstream/master_b0 && git push'
alias gitcb='git checkout -b'
alias gitd='git difftool'

alias go2work='cd /home/deepaka/work'
alias el='enkit login deepaka@enfabrica.net'
alias fgrep='find . -type f | xargs grep'
alias setw='export WORKAREA=`pwd`'
alias cdhw='cd $WORKAREA'
alias bclean="bazel clean --expunge --async"
alias fw='find bazel-out/k8-fastbuild -iname "waves.sh"'
alias fb='find bazel-out/k8-fastbuild -iname "build.log"'
alias fl='find bazel-out/k8-fastbuild -iname "test.log"'
#------------------------------
# Download and install nvim
# curl -LO https://github.com/neovim/neovim/releases/download/v0.10.0/nvim-linux64.tar.gz
# sudo rm -rf /opt/nvim-linux64
# sudo mkdir -p /opt/nvim-linux64
# sudo chmod a+rX /opt/nvim-linux64
# sudo tar -C /opt -xzf nvim-linux64.tar.gz
#------------------------------------------

alias nvim='/opt/nvim-linux64/bin/nvim'

alias ghd='github-desktop > /dev/null 2>&1 &'

alias presubmit='BAZEL_PROFILE=buildbarn bazel test ... --build_tag_filters=-no-presubmit --test_tag_filters=-no-presubmit'
alias btest='bazel test'
alias bbtest='BAZEL_PROFILE=buildbarn bazel test'
alias bral='BAZEL_PROFILE=buildbarn bazel build //hw/projects/mlm/dv/common/ral:aps_map_ral_pkg_elab ; BAZEL_PROFILE=buildbarn bazel build //hw/projects/mlm/dv/common/ral:mrng_map_ral_pkg_elab;  BAZEL_PROFILE=buildbarn bazel build //hw/projects/mlm/dv/common/ral:mps_map_ral_pkg_elab' 
